
@{
    ViewData["Title"] = "Ships";
}

<div class="trekShips">
@foreach (Ship ship in Model)
{
  <div class="row">
    <div class="card shipCard">
      <h5 class="shipName"><strong>@ship.ShipModel</strong></h5>
      <hr />
      <h6 class="ship">Class: @ship.ShipClass</h6>
      <h6 class="ship">Captain: @ship.Captain</h6>
      <h6 class="ship">Launch Year: @ship.Launch</h6>
      <img class="shipImg" src="@ship.Image" alt="image">
    </div>
  </div>
}
</div> 

